<h2>Title: <%= @recipe.title %></h2>
<h4>Chef: <%= @recipe.chef %></h4>
<h3>Ingredients: <%= @recipe.ingredients %></h3>
<h3>Directions: <%= @recipe.directions %></h3>

<a href="/recipes">Home</a>
<div></div>
<a class="btn btn-info" href="/recipes/<%= @recipe.id %>/edit">Edit Recipe</a>
<%= form_tag "/recipes/#{@recipe.id}", method: :delete do %>
  <input class="btn btn-danger" type="submit" value="delete recipe">
<% end %>